@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');


body{
    font-family: 'Jost', sans-serif;
    

}

.container-fluid{
    padding: 0;
     overflow: hidden;
    
}


/*-------------------------------------------Hero Image and JOINUS SECTION*/
.joinus img{ /* -- OneArena center image --  */
    height:70%;
    width:70%;
    margin-bottom: 20px;
     overflow: hidden;
}

.joinus{

    background: rgb(255, 255, 255, .3);
    color: #fafafa;
    font-weight: 700;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.joinus p small{
    color: #fafafa;
    font-weight: 600;
}
.p-text{
    font-weight: 700;
    
}
.p-text mark{
    color: #fafafa;
    font-weight: 500;
}

.highlight{
    background: rgb(209, 10, 10);
    border-radius: 35%;
}


.joinus-container{ /* -- Man in Red T-shirt Image in the background -- */
    height: 100vh;
    background: url(../img/redshirt.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     
     display: flex;
     align-items: center;
     justify-content: center;

     position: relative;
     
}
/*-------------------------------------------photos, id's, buttons, colors */
#btn-red{
    background-color: rgb(209, 10, 10);
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}
#btn-red:hover{
    background-color: red;
}



.btn-primary{
    background-color:rgba(0,0,128,1);
    border-color: rgba(0,0,128,1);

}

.btn-info{
    background-color: rgb(209, 10, 10);
    border-color: rgb(209, 10, 10);
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:focus{
    background-color: red;
    border-color: rgb(209, 10, 10);
}


.caps{
    text-transform: capitalize;
}

.member-photo{
    width:50% ;
    height: 50% ;
}

#sineadphoto{
    width: 70%;
    height: 50%;
}

.hvr-float-shadow:before { /* took this from google tools and changed the shadow under nav items to white */
   background: radial-gradient(ellipse at center,rgba(255, 250, 250, 0.35) 0,rgba(0,0,0,0) 80%);
}


/*-------------------------------------------Header */

header{
    margin: 0;
}

h2,h3,h4,h5{
    text-align: center;
}

.joinus{
    text-align: center;
    
}

.hr-class{
    margin: 3rem;

    border-top: 2px solid #000030;
}
.hr-top-bottom{
    border-top: 2px solid #000030;
}
/*-------------------------------------------NavBar */

nav a img{
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 20%;
    height:20%;
     width:20%; 
}

.nav-item{
    text-align: center;
}
.navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
}

.nav-link{
    display: inline-block;
    padding:  .5rem 1rem;
}






/*-------------------------------------------Reviews */

.reviews{
    margin-bottom: 100%px;
}

.reviews h2{
    margin-bottom: 50px;
}

.review{
    margin-left: 20px;
}

.review p{
    font-weight: 600;
    font-style: italic;
}

/*-------------------------------------------Our Team */

.photo-team{

    height: 100vh;
    background: url(../img/onea.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     
     
   
    
}

.our-team{
    color: #000;
    width: 100%;
    height: 100%;
    
}

.our-team h2{
    margin-bottom: 50px;
}
.our-team img{
    margin-left: 25%;
    padding: 2px 2px;
    width: 50%;
    height: 60%;
    border-radius: 50%;
   
}

#sineadphoto{
    margin-left: 25%;
    padding: 2px 2px;
    width: 55%;
    height: 60%;
    border-radius: 50%;
   
}

.our-team p{
    text-align: center;
    color: #fafafa;
    
}
.our-team h3{
    color: #fafafa;
}


/*-------------------------------------------Footer */

footer{
    font-family: 'Roboto' sans-serif;
    background-color: #000030;
    color: #fafafa;
    min-height: 100px;
    margin:  0;
    padding: 0;
   
}

footer h5{
    margin-top: 20px;
}
.social-links{

    margin-left: 20%;
    
}

 .social-links li a{
    padding: 0 5px; /* spacing the social links */
    
}
.social-links li a i{ /* focus on fontaweome icons */
        width:  32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 50%;
        font-size: 13px;
        line-height: 7px;
        text-align: center;
        color: #fafafa;
        background-color:rgba(0,0,128,1);
        

      transition: all 0.35s ease-in-out; 
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background-color: rgb(209, 10, 10);
}

.contact-info{
    text-align: center;
}

.sub-footer{
    background: #000011;
    margin: 0 auto;

    padding: 20px 0 20px 40px;
}

#sub-footer-cian{
    padding-left: 15%;
}

#sub-footer-middle{
    padding-left: 5%;
}




/*-------------------------------------------OUR TEAM PAGE : our team edward */
.teampage{
    text-align: center;
    margin: 50px 0 30px 10px;
    color: #000030;
     display: inline;
     align-items: center;
     justify-content: center;

     position: relative;
}

.letters{
    margin: 50px 0;
}

.header-img{
    padding: 0;
    height: 50%;
}

.our-team-container{ 
    
   
    background: url(../img/onebb.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     
     display: flex;
     align-items: center;
     justify-content: center;

     position: relative;
}

     

.profiles{
    width: 100%;
    height:100%;
    
    
}


.ed-profile{
    width: 100%;
    height: 100%;
    margin: 0 ;
    padding: 0;
}

.ed-profile img{
     width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.profile-description{
    margin: 0;
    padding: 0;
}
.profile-description h1{
   margin-top: 100px;
    text-align: center;
     margin: 0;
    padding: 0 20px;
    color: #b90404;
    font-weight: 700;

}

.profile-description h2{
     margin-top: 100px;
    text-align: center;
     margin: 0;
    padding: 0 20px;
    color: #10056b;
    font-weight: 700;
}

.profile-description p{
    margin-top: 40px;
    text-align: left;
    padding: 0 20px;
    font-size: 25px;
    font-family: 'Roboto' sans-serif;
    font-style: italic;
    font-weight: 200;
    color: #05041a;
}

.profile-description{
    background: rgba(0,123,255,0.3);
}

.team-spacing{
    margin: 50px 0;
}

#about-oa{
    margin-left: 35%;
    
}
.oa-margin{
    margin-bottom: 50px;
}
.one-arena-info{
    line-height: 2.5;
}
/*---------------------------------------------sign up bottom */

.signup-container{ /* -- women running tredmill -- */
    height: 100vh;
    background: url(../img/womenrun.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     
     display: flex;
     align-items: center;
     justify-content: center;

     position: relative;
     
}

@media (max-width: 600px) {
  .joinus{
     background: rgb(255, 255, 255, .3);
    color: #000;
    font-weight: 700;
    
}

  .joinus img{
      height: 100%;
      width: 100%;
  }
  .p-text mark{
    color: #fafafa;
    font-weight: 500;
    width: 100%;
    height: 100%;
    }
    #navey-blue{
        background: rgba(0,0,128,1);
        font-size: 130%;
        color: #fafafa;
        font-weight: 500;
    }
    .btn-info{
    background-color: rgb(209, 10, 10);
    border-color: rgb(209, 10, 10);
        height: 20%;
        width: 40%;
        border-radius: 40%;
    }

    .lead{
        font-size: 1rem;
  
    }



}
