
/*-------------------------------------------Hero Image */

.joinus{
    background: rgba(0,0,0,0.5); 
    color: #fafafa;
}

.joinus p small{
    color: #fafafa;
}

.highlight{
    background: #58b855;
}


.joinus-container{
    height: 100vh;
    background: url(../img/redshirt.jpg) no-repeat top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     
     display: flex;
     align-items: center;
     justify-content: center;

     position: relative;
}
/*-------------------------------------------Bits and Bobs */
.caps{
    text-transform: capitalize;
}

/*-------------------------------------------Header */

h2,h3,h4,h5{
    text-align: center;
}

.joinus{
    text-align: center;
    
}
/*-------------------------------------------NavBar */
nav a img{
    background-color: #000;
}


/*-------------------------------------------Reviews */

/*-------------------------------------------Our Team */
.our-team img{
    margin-left: 25%;
    padding: 2px 2px;
    border-radius: 25%;
    border: 1px solid #000;
}



/*-------------------------------------------Footer */

footer{
    background-color: #000;
    color: #fafafa;
    min-height: 100px;
    margin:  0;
    padding: 0;
}
