@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');

body{
    font-family: 'Jost', sans-serif;

}

.container-fluid{
    padding: 0;
    
}


/*-------------------------------------------Hero Image */
.joinus img{
    height:50%;
    width:50%;
    margin-bottom: 20px;
}

.joinus{
   
    background: rgb(255, 255, 255, .3);
    color: #fafafa;
    font-weight: 700;
}

.joinus p small{
    color: #fafafa;
    font-weight: 600;
}
.p-text{
    font-weight: 500;
    
}
.p-text mark{
    color: #fafafa;
    font-weight: 500;
}

.highlight{
    background: rgb(109, 17, 17);
}


.joinus-container{
    height: 100vh;
    background: url(../img/redshirt.jpg) no-repeat top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     
     display: flex;
     align-items: center;
     justify-content: center;

     position: relative;
}
/*-------------------------------------------photos, id's, buttons, colors */
#btn-red{
    background-color: rgb(209, 10, 10);
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}
#btn-red:hover{
    background-color: red;
}



.btn-primary{
    background-color:rgba(0,0,128,1);
    border-color: rgba(0,0,128,1);

}

.btn-info{
    background-color: rgb(209, 10, 10);
    border-color: rgb(209, 10, 10);
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:focus{
    background-color: red;
    border-color: rgb(209, 10, 10);
}


.caps{
    text-transform: capitalize;
}

.member-photo{
    width:50% ;
    height: 50% ;
}

#sineadphoto{
    width: 70%;
    height: 50%;
}


/*-------------------------------------------Header */

h2,h3,h4,h5{
    text-align: center;
}

.joinus{
    text-align: center;
    
}
/*-------------------------------------------NavBar */

nav a img{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20%;
    height:20%;
     width:20%; 
}

.nav-item{
    text-align: center;
}
.navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
}

.nav-link{
    display: inline-block;
    padding:  .5rem 1rem;
}






/*-------------------------------------------Reviews */

.review{
    margin-left: 20px;
}

.review p{
    font-weight: 600;
    font-style: italic;
}

/*-------------------------------------------Our Team */

.photo-team{

    height: 100vh;
    background: url(../img/onea.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     
     
    
    
}

.our-team{
    color: #000;
    width: 100%;
    height: 100%;
    
}
.our-team img{
    margin-left: 25%;
    padding: 2px 2px;
    width: 50%;
    height: 60%;
    border-radius: 50%;
   
}

#sineadphoto{
    margin-left: 25%;
    padding: 2px 2px;
    width: 55%;
    height: 60%;
    border-radius: 50%;
   
}

.our-team p{
    text-align: center;
    color: #fafafa;
    
}
.our-team h3{
    color: #fafafa;
}


/*-------------------------------------------Footer */

footer{
    background-color: #000;
    color: #fafafa;
    min-height: 100px;
    margin:  0;
    padding: 0;
}

footer h5{
    margin-top: 20px;
}
.social-links{

    margin-left: 20%;
    
}



.social-links li a{
    padding: 0 5px; /* spacing the social links */
    
}
.social-links li a i{ /* focus on fontaweome icons */
        width:  32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 50%;
        font-size: 13px;
        line-height: 7px;
        text-align: center;
        color: #fafafa;
        background-color:rgba(0,0,128,1);
        

      transition: all 0.35s ease-in-out; 
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background-color: rgb(209, 10, 10);
}


@media (min-width: 550px) {
  nav a img {
     background-color: rgb(255, 255, 255,);
    border-radius: 20%;
    height:20%;
     width:20%; 
     
  }
}
